@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    135deg,
    rgba(108, 182, 217, 1) 0%,
    rgba(243, 187, 216, 1) 43%,
    rgba(254, 240, 196, 1) 100%
  );
  background-size: 1000% 1000%;
  animation: animate 120s ease-in-out infinite;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.name-background {
  background-image: url("./img/name-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4rem, 3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
